.header * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 2rem 3rem;
}

.header a, li {
    text-decoration: none;
    color: black;
    list-style: none;
    transition: all 0.3s ease-in-out;
}

.header a {
    border: solid 2px black;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.header a:hover, .header a:focus {
    color: white;
    background-color: rgb(218, 121, 10);
    border: solid 2px rgb(218, 121, 10);
}

.header ul {
    display: flex;
    gap: 2rem;
}